/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.card-container {
    box-shadow: 3px 4px 5px #888888;
    padding: 15px;
}
.card-container .cart-btn {
    background-color: #FF5722;
    border-color: #F44336;
}
.card-container .cart-btn:hover{
   background-color: rgb(255, 105, 34);
   border-color: #F44336;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.help-block {
	color: red;
}
.navbar-brand {
padding: 4px!important;
}
.navbar-brand img {
	width: 75px;
}

.form-button {
	text-align: center;
}

.jumbotron.text-center {
    padding: 5px;
}
.key-label{
    display: block;
}
.key-group{
    padding-left: 0!important;
}

/*animate*/
/* Styles go here */


.slide-left.ng-enter,
.slide-left.ng-leave,
.slide-right.ng-enter,
.slide-right.ng-leave {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: inherit;
  -ms-transition: .7s ease-in-out;
  -webkit-transition: .7s ease-in-out;
  transition:  .7s ease-in-out;
}

.slide-left.ng-enter {}
.slide-left.ng-enter.ng-enter-active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.slide-left.ng-leave {
  z-index: 100;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.slide-left.ng-leave.ng-leave-active {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}


.slide-right.ng-enter {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
} 

.slide-right.ng-enter.ng-enter-active, 
.slide-right.ng-leave {
  position: absolute;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.slide-right.ng-leave.ng-leave-active {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

td.buttons {
    text-align: center;
}