<div class="container">
    <div class="row col-lg-12 col-sm-12 col-md-12 col-xs-12">
        <form ng-controller="EmpAdd_Ctrl" name="empForm" class="form horizontal" ng-submit="submitForm(empForm.$valid)" novalidate>
            <div class="form-group col-lg-4 col-sm-2 col-md-4 col-xs-1">
                <label for="">Employee ID</label>
                <input type="number" class="form-control" ng-model="employee.empid" name="id" ng-minlength="5" ng-maxlength="5" required>

            </div>
            <div class="form-group col-lg-4 col-sm-2 col-md-4 col-xs-1">
                <label for="">First Name:</label>
                <input type="text" class="form-control" ng-model="employee.fname" name="fname" required>
            </div>
            <div class="form-group col-lg-4 col-sm-2 col-md-4 col-xs-1">
                <label for="">Last Name:</label>
                <input type="text" class="form-control" ng-model="employee.lname" name="lname" required>
            </div>
            <div class="form-group col-lg-4 col-sm-2 col-md-4 col-xs-1">
                <label for="">Designation:</label>
                <input type="text" class="form-control" ng-model="employee.desig" name="desig" required>
            </div>
            <div class="form-group col-lg-4 col-sm-2 col-md-4 col-xs-1">
                <label for="">Phone Number</label>
                <input type="text" ng-model="val" phone-number class="form-control" />
            </div>

            <div class="form-group col-lg-4 col-sm-2 col-md-4 col-xs-1">
                <label for="">Basic Sal</label>
                <input type="text" number-only ng-model="employee.salary.baseSal" ng-value="${{employee.salary.baseSal}}" ng-change="updateSalary()" class="form-control" />
            </div>
            <div class="form-group col-lg-4 col-sm-2 col-md-4 col-xs-1">
                <label for="">HRA</label>
                <input type="text" number-only ng-model="employee.salary.hra" ng-change="updateSalary()" class="form-control" />
            </div>
            <div class="form-group col-lg-4 col-sm-2 col-md-4 col-xs-1">
                <label for="">Special Allowance</label>
                <input type="text" number-only ng-model="employee.salary.spclAllowance" ng-change="updateSalary()" class="form-control" />
            </div>
            <div class="form-group col-lg-4 col-sm-2 col-md-4 col-xs-1">           
                <label for="">Gross Salary</label>
                <input type="text" number-only ng-model="employee.salary.grossSal" ng-change="updateSalarySplitup()" class="form-control" />
            </div>
            <div class="form-group col-lg-4 col-sm-2 col-md-4 col-xs-1">           
                <label for="">Please Enter corrected salary in USD</label>
                <input type="text" currency-input ng-model="employee.salary.USDsal" ng-change="updateSalarySplitup()" class="form-control" />
            </div>
            <div class="form-group form-button col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <button type="submit" class="btn btn-primary" ng-click="save();" >Save</button>
            </div>	
        </form>
    </div>
</div>

